body {
  position: relative;
  text-align: center;
  background: #fff url(../img/stripe_bg.png) repeat scroll 0 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

header {
  background-color: #000099;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.card {
  display: inline-block;
  height: 500px;
  width: 500px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.front {
  background-color: #000099;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.back {
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

h1 {
  display: inline-block;
  margin-top: -2px;
  font-size: 3em;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0,0,0,0.8) 0 5px 5px;
  color: #fff;
  background-color: #000099;
}


h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 2em;
}

p {
  text-align: justify;
  padding: 50px;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 40%;
  z-index: 999;
  transform: rotate(-90deg);
}

.contact a {
  height: 15px; 
  width: 70px; 
  padding: 8px 16px;
    background-color: #fff;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}
